/* PHASE 1: Header */

body {
  /* Write your css here... */
  background-color: #eee;

  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.header {

  background-color: #f00;
  color: #fff;
  border-bottom: 1px solid #aaa;
  margin-bottom: 1px;
}

.header a {
  display: block;
  padding: 10px;

}

.header-nav {
  width: 900px;
  margin: 0 auto;
  border-right: 1px solid #aaa;
  border-left: 1px solid #aaa;
}
