/* PHASE 2: Navigation */

.header-logo {
  float: left;
  font-weight: bold;
  font-weight: 700;
  border-right: 1px solid #aaa;
}

.header-logo:hover {
  background-color: black;
}

.header-list {
  float: right;
}

.header-list > li {
  float: left;
  border-left: 1px solid #aaa;
}

.header-list > li:hover {
  background-color: black;
}
